.widgetSmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.smwidgetcontainer{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    margin-top: 20px;
}
.smwidgetprofile{
    display: flex;
    align-items: center;
}
.smwidgetinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    margin-left: 20px;
}
.smwidgetview{
    display: flex;
    align-items: center;
    margin-left: 90px;
    border-radius: 20px;
    border: none;
    background-color: rgb(214, 222, 238);
    padding: 5px 8px;
}
.widgetname{
    font-weight: bold;
    font-size: 17px;
}
.widgetdesignition{
    color: rgb(162, 172, 169);
    font-size: 12px;
}
.view{
    margin-right: 10px;
}